
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.a_enlace {
    text-decoration: none;
    color: white;
}
.caja {
    width: 100%;
    height: 100%;
    margin-top: 110px;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 12% 6% auto 10%;
}
.cabeza {
    background-color: rgb(170, 13, 13);
    grid-row: 1/1;
    grid-column: 1/4;
    font-size: 40px;
    text-decoration: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
}
.imagen_cab {
    margin-top: 0px;
    height: 100%;
    float: right;
    align-items: center;
    margin-right: 10px;
}
.imagen_cab:hover {
    scale: 1.01;
}

.menu {
    background-color: rgb(190, 7, 7);
    grid-row: 2/2;
    grid-column: 1/4;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.objeto_flex {
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-family: Verdana, sans-serif;
}
.objeto_flex:hover {
    color: white;
    background-color: lightcoral;
    border: 2px solid whitr ;
    border-radius: 15px;
    scale: 1.2;
}

.espacio_imagen1 {
    grid-row: 3/3;
    grid-column: 1/1;
    background-image: url('FlORIDA\ VACIO.jpg');
    background-size: cover;
    background-position: left;
    position: relative;
}
.espacio_imagen1::before {
    content: ''; /* Esto es necesario para que funcione */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.caja_centro {
    background-color: lightgray;
    grid-row: 3/3;
    grid-column: 2/2;
    border: 2px solid black;
}

.imagen_2 {
    background-image: url('UNIVERSITARIA-7-copia.jpg');
    background-size: cover;
    background-position: right;
    grid-row: 3/3;
    grid-column: 3/3;
}
.imagen_2:hover {
    border: 2px solid white;
}
.footer {
    background-color: rgb(190, 7, 7);
    color: white;
    grid-row: 4/4;
    grid-column: 1/4;
    border: 2px solid black;
}
.objeto_footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
}
.pregunta {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    border-left: 5px solid rgb(129, 38, 38);
    padding: 10px;
}
.respuesta {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid rgb(129, 38, 38);
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px;
}
iframe {
    justify-content: center;
    align-items: center;
    margin: 50px;
}
