body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.a_enlace {
    text-decoration: none;
    color: white;
}

.caja {
    width: 100%;
    height: 100%;
    margin-top: 110px;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 12% 6% auto 10%;
}

.cabeza {
    background-color: rgb(170, 13, 13);
    grid-row: 1/1;
    grid-column: 1/4;
    font-size: 40px;
    text-decoration: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
}

.imagen_cab {
    margin-top: 0px;
    height: 100%;
    float: right;
    align-items: center;
    margin-right: 10px;
}

.imagen_cab:hover {
    scale: 1.01;
}

.menu {
    background-color: rgb(190, 7, 7);
    grid-row: 2/2;
    grid-column: 1/4;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.objeto_flex {
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-family: Verdana, sans-serif;
}

.objeto_flex:hover {
    color: white;
    background-color: lightcoral;
    border: 2px solid whitr;
    border-radius: 15px;
    scale: 1.2;
}

.espacio_imagen1 {
    grid-row: 3/3;
    grid-column: 1/1;
    background-image: url('FlORIDA_VACIO.jpg');
    background-size: cover;
    background-position: left;
    position: relative;
}
.espacio_imagen1::before /*pseudo-clase*/ {
    content: ''; /* Esto es necesario para que funcione la clase y el degradado*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.espacio_imagen1:hover {
    scale: 1.001;
    border: 2px solid white;
}


.caja_centro {
    background-color: lightgray;
    grid-row: 3/3;
    grid-column: 2/2;
    border: 2px solid black;
}

.imagen_2 {
    background-image: url('UNIVERSITARIA-7-copia.jpg');
    background-size: cover;
    background-position: right;
    grid-row: 3/3;
    grid-column: 3/3;
    position: relative; /* Esto es necesario para que el degradado este en el lugar correcto*/
}
.imagen_2::before /*pseudo-clase*/ {
    content: ''; /* Esto es necesario para que funcione la clase y el degradado*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.imagen_2:hover {
    border: 2px solid white;
}

.footer {
    background-color: rgb(190, 7, 7);
    color: white;
    grid-row: 4/4;
    grid-column: 1/4;
    border: 2px solid black;
}

.objeto_footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
}

.pregunta {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    border-left: 5px solid rgb(129, 38, 38);
    padding: 10px;
}

.respuesta {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid rgb(129, 38, 38);
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px;
}

iframe {
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.answer {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid rgb(129, 38, 38);
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px;

}

.question {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-top: 30px;
    margin-left: 50px;
    border-left: 5px solid rgb(129, 38, 38);
    padding: 10px;
}

.caja-1st {
    width: 100%;
    height: 100%;
    margin-top: 110px;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 10% 26% 26% auto 10%;
    grid-template-rows: 12% 6% 35% auto 10%;
}

.cabeza-1st {
    background-color: rgb(170, 13, 13);
    grid-row: 1/2;
    grid-column: 1/6;
    font-size: 40px;
    text-decoration: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
}

.imagen_cab-1st {
    margin-top: 0px;
    height: 100%;
    float: right;
    align-items: center;
    margin-right: 10px;
}

.b2-1st {
    background-color: rgb(190, 7, 7);
    grid-row: 2/3;
    grid-column: 1/6;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.objeto_flex-1st {
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-family: Verdana, sans-serif;
    ;
}

.objeto_flex-1st:hover {
    color: white;
    background-color: lightcoral;
    border: 2px solid white;
    border-radius: 15px;
    scale: 1.2;
}

.b3-1st {


    grid-row: 3/5;
    grid-column: 1/2;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: white;
}

.b4-1st {
    background-color: lightgray;
    grid-row: 3/4;
    grid-column: 2/3;



}

.texto {

    color: black;
    font-family: arial;
    font-size: 24px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
}

.b5-1st {
    background-color: white;
    grid-row: 3/5;
    grid-column: 5/6;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.b9-1st {
    background-color: lightgray;
    grid-row: 3/4;
    grid-column: 3/4;

}

.b10-1st {
    background-color: lightgray;
    grid-row: 3/4;
    grid-column: 4/5;
}

.b11-1st {
    background-color: lightgray;
    grid-row: 4/5;
    grid-column: 2/3;
}

.b12-1st {
    background-color: lightgray;
    grid-row: 4/5;
    grid-column: 3/4;
}



.b13-1st {
    background-color: lightgray;
    grid-row: 4/5;
    grid-column: 4/5;
}

.footer-1st {
    background-color: rgb(190, 7, 7);

    color: white;
    grid-row: 5/6;
    grid-column: 1/6;
    border: 2px solid black;
}

.objeto_footer-1st {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
}

h1 {

    font-size: 28px;
    color: black;
    text-decoration: underline;
    text-align: center;
}


.caja-sbj {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 12% 6% 35% auto 10%;
    float: none;
}

.cabeza-sbj {
    background-color: rgb(170, 13, 13);
    grid-row: 1/1;
    grid-column: 1/4;
    font-size: 40px;
    text-decoration: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
}

.imagen_cab-sbj {
    margin-top: 0px;
    height: 100%;
    float: right;
    align-items: center;
    margin-right: 10px;
}

.b2-sbj {
    background-color: rgb(190, 7, 7);
    grid-row: 2/2;
    grid-column: 1/4;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.objeto_flex-sbj {
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-family: Verdana, sans-serif;
    ;
}

.objeto_flex-sbj:hover {
    color: white;
    background-color: lightcoral;
    border: 2px solid white;
    border-radius: 15px;
    scale: 1.2;
}

.b3-sbj {
    background-image: url(escaleras.webp);
    background-size: cover;
    grid-row: 3/5;
    grid-column: 1/1;
    background-position: top;
    border: 2px solid;

}

.cuadrob4-sbj {
    background-color: #e3dfff;
    grid-row: 3/4;
    grid-column: 2/2;
    color: white;
    font-family: arial;
    font-size: 40px;
    text-align: center;
    align-content: center;

}

.b5-sbj {
    background-color: red;
    grid-row: 3/5;
    grid-column: 3/4;
    background-image: url(4k.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid;
}


.b9-sbj {
    background-color: #e3dfff;
    grid-row: 4/5;
    grid-column: 2/3;
    color: white;
    font-family: arial;
    font-size: 40px;
    text-align: center;
    align-content: center;

}

.footer-sbj {
    background-color: rgb(190, 7, 7);

    color: white;
    grid-row: 5/6;
    grid-column: 1/4;
    border: 2px solid black;
}

.objeto_footer-sbj {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    margin-top: 50px;
}

